<?xml version="1.0"?>
<launch>

    <!-- Launch ZED Camera Node -->
    <include file="$(find lane_detector)/launch/hardware/video_file.launch"/>

    <!-- Launch ROS line_detector Node -->
    <node pkg="lane_detector" type="camara.py"
          name="lane_testing" output="screen"
          clear_params="true" required="true">
        <rosparam command="load" file="$(find lane_detector)/config/video_default.yaml"/>
    </node>

</launch>
